In [147]:
import pandas as pd
import numpy as np

from pulp import *

In [174]:
data_file = "data/fl_200_1"
data = pd.read_csv(data_file, sep=" ", names=["a", "b", "c", "d"], dtype={"a":float, "b":float, "c":float, "d":float})

In [175]:
data.head()

       a      b          c          d
0  200.0  200.0        NaN        NaN
1  226.0  600.0  34.824276  34.824276
2  312.0  600.0  34.905834  38.077609
3  379.0  600.0  43.586961  28.219700
4  599.0  600.0  40.395677  33.445805

In [176]:
n = int(data["a"][0])
m = int(data["b"][0])

In [177]:
facilities = data[1:(n+1)].rename({"a":"cost", "b":"capacity", "c":"x", "d":"y"}, axis="columns").reset_index(drop=True)
facilities.head()

    cost  capacity          x          y
0  226.0     600.0  34.824276  34.824276
1  312.0     600.0  34.905834  38.077609
2  379.0     600.0  43.586961  28.219700
3  599.0     600.0  40.395677  33.445805
4  280.0     600.0  35.072047  35.180733

In [178]:
customers = data[(n+1):].drop("d", axis=1).rename({"a":"demand", "b":"x", "c":"y"}, axis="columns").reset_index(drop=True)
customers.head()

   demand          x          y
0     2.0  47.668869  39.346976
1     1.0  42.675137  33.935762
2     5.0   7.495883  30.221757
3     5.0  49.947867  60.900421
4     4.0  55.565605  52.475980

We want to minimise the total cost of satifysing customer demand from a series of facilities (warehouses)

#### Description of rules and constraints

- Each customer must be served by exactly one facility
- The total demand of the customers cannot exceed the capacity of the facility

#### Notation and parameters

- $F$ is the set of facilities
- $C$ is the set of customers
- $f_i , \forall i\in F$ is the capacity of each facility
- $c_j , \forall j\in C$ is the demand of each customer
- $d_{ij} , \forall i \in F, j \in C$ is the euclidian distance between facility $j$ and customer $i$
- $s_i , \forall i\in F$ is the fixed cost for operating facility $i$

Note: In this example the euclidian distance between facility $j$ and customer $i$ is considered the transport cost so we can just add them to the fixed costs

#### Decision variables

$ x_{ij} \forall i\in F, \forall j\in C $ is whether customer $j$ is served by facility $i$

$x_{ij} \in \{0,1\}$

$p_i \forall i\in F$ is whether or not facility $i$ is used

$p_{i} \in \{0,1\}$

#### Objective function (minimize)

$$ \min (\sum_{i\in F}\sum_{j\in C}d_{ij}x_{ij} + \sum_{i \in F}p_i s_i) $$

#### Constraints

$$ \sum_{i \in F} x_{ij} \ge 1, \forall j \in C\; (1)$$

$$ \sum_{j \in C} x_{ij}c_{j} \le f_i, \forall i \in F\; (2)$$

$$ \sum_{j \in C} x_{ij} \le \ bigM p_i, \forall i \in F\; (3)$$

In [179]:
def euclidean_distance(x_1, x_2, y_1, y_2):
    return np.sqrt( np.square(x_1 - x_2)  + np.square(y_1 - y_2) )

F = list(range(0, n))
C = list(range(0, m))
f = np.array(facilities.capacity)
c = np.array(customers.demand)
s = np.array(facilities.cost)
d = np.zeros([n, m])

all_pairs = [(i, j) for i in F for j in C]

for pair in all_pairs:
    i = pair[0]
    j = pair[1]
    facility = facilities.iloc[[i]]
    customer = customers.iloc[[j]]
    d[i,j] = euclidean_distance(float(facility.x), float(customer.x), float(facility.y), float(customer.y))

In [180]:
### Create Problem/ Solver
prob = LpProblem("The facility location problem", LpMinimize)

### Create decision variables
xij = {}
for i in F:
    for j in C:
        xij[i,j] = LpVariable("x_%s_%s" % (i,j), 0, 1, LpBinary)
        
pi = {}
for i in F:
    pi[i] = LpVariable("p_%s" % (i), 0, 1, LpBinary)
    
## Set the objective function 
prob += lpSum([d[(i,j)]*xij[i,j] for i in F for j in C]) + lpSum([s[i] * pi[i] for i in F])

In [181]:
## Set constraint 1
for j in C:
    prob += lpSum([xij[i,j] for i in F]) >= 1,"%s must be assigned to at least one facility" % (j)

In [182]:
## Set constraint 2
for i in F:
    prob += lpSum([xij[i,j] * c[j] for j in C]) <= f[i],"%s demand must not exceed capacity" % (i)

In [183]:
## Set constraint 3
bigM=m
for i in F:
    prob += lpSum([xij[i,j] for j in C]) <= bigM * pi[i],"%s bigM constraint" % (i)

In [184]:
## Check model
#prob

In [185]:
import time

start = time.time()
## Solve model
prob.solve()
end = time.time()
print(pulp.LpStatus[prob.status], "solution is: ", float(end - start), "sec")

Optimal solution is:  110.43528318405151 sec

In [186]:
## Print variables with value greater than 0 
for v in prob.variables():
    if v.varValue>0:
        print(v.name, "=", v.varValue)

# Print The optimal objective function value
print("Total Cost = ", pulp.value(prob.objective))

p_68 = 1.0
x_68_0 = 1.0
x_68_1 = 1.0
x_68_10 = 1.0
x_68_100 = 1.0
x_68_101 = 1.0
x_68_102 = 1.0
x_68_103 = 1.0
x_68_104 = 1.0
x_68_105 = 1.0
x_68_106 = 1.0
x_68_107 = 1.0
x_68_108 = 1.0
x_68_109 = 1.0
x_68_11 = 1.0
x_68_110 = 1.0
x_68_111 = 1.0
x_68_112 = 1.0
x_68_113 = 1.0
x_68_114 = 1.0
x_68_115 = 1.0
x_68_116 = 1.0
x_68_117 = 1.0
x_68_118 = 1.0
x_68_119 = 1.0
x_68_12 = 1.0
x_68_120 = 1.0
x_68_121 = 1.0
x_68_122 = 1.0
x_68_123 = 1.0
x_68_124 = 1.0
x_68_125 = 1.0
x_68_126 = 1.0
x_68_127 = 1.0
x_68_128 = 1.0
x_68_129 = 1.0
x_68_13 = 1.0
x_68_130 = 1.0
x_68_131 = 1.0
x_68_132 = 1.0
x_68_133 = 1.0
x_68_134 = 1.0
x_68_135 = 1.0
x_68_136 = 1.0
x_68_137 = 1.0
x_68_138 = 1.0
x_68_139 = 1.0
x_68_14 = 1.0
x_68_140 = 1.0
x_68_141 = 1.0
x_68_142 = 1.0
x_68_143 = 1.0
x_68_144 = 1.0
x_68_145 = 1.0
x_68_146 = 1.0
x_68_147 = 1.0
x_68_148 = 1.0
x_68_149 = 1.0
x_68_15 = 1.0
x_68_150 = 1.0
x_68_151 = 1.0
x_68_152 = 1.0
x_68_153 = 1.0
x_68_154 = 1.0
x_68_155 = 1.0
x_68_156 = 1.0
x_68_157 = 1.0
x_68_158 = 1.0
x_68_159 = 1.0
x_68_16 = 1.0
x_68_160 = 1.0
x_68_161 = 1.0
x_68_162 = 1.0
x_68_163 = 1.0
x_68_164 = 1.0
x_68_165 = 1.0
x_68_166 = 1.0
x_68_167 = 1.0
x_68_168 = 1.0
x_68_169 = 1.0
x_68_17 = 1.0
x_68_170 = 1.0
x_68_171 = 1.0
x_68_172 = 1.0
x_68_173 = 1.0
x_68_174 = 1.0
x_68_175 = 1.0
x_68_176 = 1.0
x_68_177 = 1.0
x_68_178 = 1.0
x_68_179 = 1.0
x_68_18 = 1.0
x_68_180 = 1.0
x_68_181 = 1.0
x_68_182 = 1.0
x_68_183 = 1.0
x_68_184 = 1.0
x_68_185 = 1.0
x_68_186 = 1.0
x_68_187 = 1.0
x_68_188 = 1.0
x_68_189 = 1.0
x_68_19 = 1.0
x_68_190 = 1.0
x_68_191 = 1.0
x_68_192 = 1.0
x_68_193 = 1.0
x_68_194 = 1.0
x_68_195 = 1.0
x_68_196 = 1.0
x_68_197 = 1.0
x_68_198 = 1.0
x_68_199 = 1.0
x_68_2 = 1.0
x_68_20 = 1.0
x_68_21 = 1.0
x_68_22 = 1.0
x_68_23 = 1.0
x_68_24 = 1.0
x_68_25 = 1.0
x_68_26 = 1.0
x_68_27 = 1.0
x_68_28 = 1.0
x_68_29 = 1.0
x_68_3 = 1.0
x_68_30 = 1.0
x_68_31 = 1.0
x_68_32 = 1.0
x_68_33 = 1.0
x_68_34 = 1.0
x_68_35 = 1.0
x_68_36 = 1.0
x_68_37 = 1.0
x_68_38 = 1.0
x_68_39 = 1.0
x_68_4 = 1.0
x_68_40 = 1.0
x_68_41 = 1.0
x_68_42 = 1.0
x_68_43 = 1.0
x_68_44 = 1.0
x_68_45 = 1.0
x_68_46 = 1.0
x_68_47 = 1.0
x_68_48 = 1.0
x_68_49 = 1.0
x_68_5 = 1.0
x_68_50 = 1.0
x_68_51 = 1.0
x_68_52 = 1.0
x_68_53 = 1.0
x_68_54 = 1.0
x_68_55 = 1.0
x_68_56 = 1.0
x_68_57 = 1.0
x_68_58 = 1.0
x_68_59 = 1.0
x_68_6 = 1.0
x_68_60 = 1.0
x_68_61 = 1.0
x_68_62 = 1.0
x_68_63 = 1.0
x_68_64 = 1.0
x_68_65 = 1.0
x_68_66 = 1.0
x_68_67 = 1.0
x_68_68 = 1.0
x_68_69 = 1.0
x_68_7 = 1.0
x_68_70 = 1.0
x_68_71 = 1.0
x_68_72 = 1.0
x_68_73 = 1.0
x_68_74 = 1.0
x_68_75 = 1.0
x_68_76 = 1.0
x_68_77 = 1.0
x_68_78 = 1.0
x_68_79 = 1.0
x_68_8 = 1.0
x_68_80 = 1.0
x_68_81 = 1.0
x_68_82 = 1.0
x_68_83 = 1.0
x_68_84 = 1.0
x_68_85 = 1.0
x_68_86 = 1.0
x_68_87 = 1.0
x_68_88 = 1.0
x_68_89 = 1.0
x_68_9 = 1.0
x_68_90 = 1.0
x_68_91 = 1.0
x_68_92 = 1.0
x_68_93 = 1.0
x_68_94 = 1.0
x_68_95 = 1.0
x_68_96 = 1.0
x_68_97 = 1.0
x_68_98 = 1.0
x_68_99 = 1.0
Total Cost =  3807.322699189734

In [187]:
## Print variables with value greater than 0 
customer_assignments = {}
for v in prob.variables():
    if v.varValue > 0:
        var_split = v.name.split("_")
        if (var_split[0] == "x"):
            customer_assignments[var_split[2]] = var_split[1]

settings = [customer_assignments[str(i)] for i in range(0,m)]

In [188]:
# prepare the solution in the specified output format
output_data = str(pulp.value(prob.objective)) + ' ' + str(1) + '\n'
output_data += ' '.join(map(str, settings))
print(output_data)

3807.322699189734 1
68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68 68